@font-face {
  font-family: 'Mali';
  src: url('./assets/fonts/Mali-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mali';
  src: url('./assets/fonts/Mali-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('./assets/fonts/NotoSansThai_Condensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif Thai';
  src: url('./assets/fonts/NotoSerifThai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Mali', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Mali', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  font-family: 'Mali', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

  
  
  